@model mvctest.Models.Customers

@{
    ViewData["Title"] = "Delete";
}

<div class="hero-wrap" style="background-image: url('../images/maldives-1.jpeg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    @*<p class="breadcrumbs mb-2"><span>Registration</span></p>*@
                    <h1 class="mb-4 bread">Delete</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row block-9 justify-content-center">
    <div><h3>Are you sure you want to delete this?</h3></div>
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CustFirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustFirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustLastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustLastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustAddress)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustCity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustCity)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustProv)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustProv)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustPostal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustPostal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustCountry)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustCountry)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustHomePhone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustHomePhone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustBusPhone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustBusPhone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustEmail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AgentId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AgentId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PasswordNotHashed)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PasswordNotHashed)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PasswordHashed)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PasswordHashed)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PasswordSalt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PasswordSalt)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CustomerId" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
    </div>