@model mvctest.Models.Bookings

@{
    ViewData["Title"] = "Bookings";
}


<div class="hero-wrap" style="background-image: url('../images/maldives-1.jpeg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    @*<p class="breadcrumbs mb-2"><span>Registration</span></p>*@
                    <h1 class="mb-4 bread">Bookings</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookingNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookingNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TravelerCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelerCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TripTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
