@model IEnumerable<mvctest.Models.Packages>

<div class="hero-wrap" style="background-image: url('../images/maldives-1.jpeg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    @*<p class="breadcrumbs mb-2"><span>Registration</span></p>*@
                    <h1 class="mb-4 bread">Register Here</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PkgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgBasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgAgencyCommission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PkgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgBasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgAgencyCommission)
            </td>
            <td>
                <input type="submit" value="Book" class="btn btn-primary" />
            </td>
        </tr>
}
    </tbody>
</table>
